.Search {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: black;
  background-color: #51d0de;
}

.SearchIntro {
  height: 10vw;
  padding: 5vw;
}

.FormSection {
  height: 30vh;
  width: 50vw;
  border-radius: 8px;
  margin: auto;
  background-color: #fff5d7;
}

.SearchButton {
  width: 10vw;
  font-size: 0.5em;
  background-color: lightblue;
  margin: auto;
}
